/* overall style */
html{
    font-family: 'Pixelify Sans';
}
body {
    background-image: url('assets/home-bg.jpg');
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 70px;
    color: #A50715;
}

.button {
    padding: 15px 30px;
    font-size: 36px;
    cursor: pointer;
    border: none;
    border-radius: 18px;
    background-color: #E74250;
    color: white;
    font-family: 'Pixelify Sans';
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #C0392B;
}

#AddWalk {
    margin-top: 100px;
    margin-left: 1200px;
}
.popup{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.573); 
}

.popup-content {
    background-color: #A50715;
    color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: none;
    border-radius: 18px;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px; /* Optional: maximum width */
    position: relative; /* For positioning the close button */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 30px;
}

.popup-content button{
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 25px;
}

.popup-content input{
    font-family: 'Pixelify Sans';
    font-size: 16px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 5px;
    padding-left: 10px;
    font-weight: 500;
}


/* homepage style */
.homepage-content {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    height: 100vh;
    margin: 0;  
}


/* my walks style */
#navbar{
    margin-top: -50px;
    width: 150px;
    height: 110%;
    background-color: #A50715;
    position: fixed;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-button{
    color: white;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    font-family: 'Pixelify Sans';
}

#gif2 {
  transform: scaleX(-1);
}

.my-walks-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;  
    padding-top: 0px;
    background-color: rgb(0, 0, 0, 0.5);
}

#mywalks-title, #walkrecs-title, #profile-title{
    padding-top: 30px;
}

/* walk info pop up style */
.form-popup {
    display: none;
    position: fixed;
    top: 130px;
    left: 410px;
    z-index: 1;
    width: 55%;
    height: 65%;
    overflow: auto;
    background-color: #E74250;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}
