/* overall style */
body {
    background-image: url('assets/home-bg.jpg');
    background-size: cover;
    text-align: center;
    padding-top: 30px;
}

.title {
    font-family: 'Pixelify Sans';
    font-size: 70px;
    color: #A50715;
}

.button {
    padding: 15px 30px;
    font-size: 36px;
    cursor: pointer;
    border: none;
    border-radius: 18px;
    background-color: #E74250;
    color: white;
    font-family: 'Pixelify Sans';
    transition: background-color 0.3s ease;
}

#AddWalk {
    margin-top: 600px;
    margin-left: 1200px;
}

.button:hover {
    background-color: #C0392B;
}

/* homepage style */
.homepage-content {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    height: 100vh;
    margin: 0;  
}